body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
}

.contact {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact p {
  margin: 5px 0;
}

.delete {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  align-self: center;
  margin-left: 40px;
}

.delete:hover {
  background-color: #e60000;
}

p {
  padding: 5px;
  width: 100%;
}

.icon,
.phone {
  margin-right: 5px;
}
